<nav  class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <div class="row">
    <li [hidden]="submitted" class="nav-item">
      <a routerLink="macsalites" id="macsaliteList" class="nav-link" routerLinkActive="active"><u><h5>VIKRAM AGENTS</h5></u></a>
  </li></div>
    <div class="row">
      <li [hidden]="submitted" class="nav-item">
        <a routerLink="add" class="nav-link" id="addMember" routerLinkActive="active"><u><h5>ADD AGENT(+)</h5></u></a>
      </li>
    </div>  
  </ul>
     
  <!-- <angular-file-uploader
      [config]="afuConfig">
    </angular-file-uploader> -->
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;"><b><u>{{title}}</u></b></h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span></span>
  </div>
</footer>